{% load static %}
<!DOCTYPE html>
<html class="h-100" lang="en">
   <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width,initial-scale=1">
      <title>Fit & Track</title>
      <!-- Favicon icon -->
      <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/favicon.png' %}">
      <link rel="stylesheet" href="{% static 'https://use.fontawesome.com/releases/v5.5.0/css/all.css' %}" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
      <link href="{% static 'css/style.css' %}" rel="stylesheet">
      
   </head>
   <body class="h-100">
      <!--*******************
         Preloader start
         ********************-->
      <div id="preloader">
         <div class="loader">
            <svg class="circular" viewBox="25 25 50 50">
               <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="3" stroke-miterlimit="10" />
            </svg>
         </div>
      </div>
      <!--*******************
         Preloader end
         ********************-->
      <div class="login-form-bg h-100">
         <div class="container h-100">
            <div class="row justify-content-center h-100">
               <div class="col-xl-6">
                  <div class="form-input-content">
                     <div class="card login-form mb-0">
                        <div class="card-body">
                           
                        <h3 class="text-center">Sign Up</h3>
                           <form class="mt-5 mb-5 login-input" method='post' enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="form-group">
                                    <label class="mr-sm-2">Name</label>
                                    <input type="text" class="form-control" name='name'  placeholder="Enter your name" required>
                                </div>
                                <div class="form-group">
                                   <label class="mr-sm-2">Username</label>
                                   <input type="text" class="form-control" name='username'  placeholder="Enter your username" required>
                                </div>
                              <div class="form-group">
                                <label class="mr-sm-2">Password</label>
                                <input type="password" class="form-control" name='password' placeholder="Enter your password" required>
                            </div>
                              <div class="form-group">
                                 <label class="mr-sm-2">Gender</label>
                                 <select class="custom-select mr-sm-2" name='gender' id="inlineFormCustomSelect">
                                    <option selected="selected">Select your gender</option>
                                    <option value="male">Male</option>
                                    <option value="female">Female</option>
                                 </select>
                              </div>
                              <div class="form-group">
                                 <label class="mr-sm-2">Date of Birth</label>
                                 <input type="date" class="form-control" name='dob' placeholder="Enter your email" required>
                              </div>
                              <div class="form-group">
                                 <label class="mr-sm-2">Height</label>
                                 <input type="number" class="form-control" name='height' placeholder="Enter your height in cm" required>
                              </div>
                              <div class="form-group">
                                 <label class="mr-sm-2">Weight</label>
                                 <input type="number" class="form-control" name='weight' placeholder="Enter your weight in kg" required>
                              </div>
                              
                              <div class="form-group">
                                 <label class="mr-sm-2">Profile Picture</label>
                                 <input type="file" name='profile_pic' class="form-control-file">
                              </div>
                              <div class="form-group">
                                 <label class="mr-sm-2">Goal</label>
                                 <select class="custom-select mr-sm-2" name='goal' id="inlineFormCustomSelect">
                                    <option selected="selected">Select a goal</option>
                                    <option value="lose_weight">Lose Weight</option>
                                    <option value="gain_weight">Gain Weight</option>
                                    <option value="maintain_weight">Maintain Weight</option>
                                 </select>
                              </div>
                              <button class="btn login-form__btn submit w-100">Sign in</button>
                           </form>
                           <p class="mt-5 login-form__footer">Already have an account? <a href="{% url 'signin' %}" class="text-primary">Login</a></p>
                           </p>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      </div>
      <!--**********************************
         Scripts
         ***********************************-->
      <script src="{% static 'plugins/common/common.min.js' %}"></script>
      <script src="{% static 'js/custom.min.js' %}"></script>
      <script src="{% static 'js/settings.js' %}"></script>
      <script src="{% static 'js/gleek.js' %}"></script>
      <script src="{% static 'js/styleSwitcher.js' %}"></script>
   </body>
</html>